
body{

  margin: 0;
  padding: 0;
  background-size: cover;

}


img{
  width: 170px;
  height: 200px;
  border-radius: 50px;
 
}

.commentForm{

  padding: 5em;
  position: relative;
  left: 30%;



}


.commentFormInput{
  
  padding: 5em 5em; 
  box-shadow: silver;
  border: 5px solid whitesmoke;
  box-shadow: 2px 1px 1px 3px;

  

}
.commentButton{

  position: fixed;
  left: 39%;
  bottom: 45%;
}
